/*
Source: https://bootsnipp.com/snippets/featured/responsive-bs-carousel-with-hero-headers
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 50vh;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #fff;
    border-color: #0849b2;
    opacity: 0.6;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 3;
    /*color: #e60000;/*#990000;*/
    /*text-shadow: 1px 1px #fff/*#0849b2;*/
    color: #f2f2f2;/*#990000;*/
    text-shadow: 3px 3px black;/*#0849b2;*/
    text-align: center;
    font-weight: bold;
    /*text-transform: uppercase;*/
    /*background-color: rgba(255,255,255,0.3);*/
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    /*font-family: 'Cabin Sketch', cursive;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
    /*color: #38cced;/*#0849b2;*/
    color: #fff;
    text-shadow: 4px 4px #0849b2;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: 0.05;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #00004d;
    border-color: #00004d;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 50vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/banner1.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/banner2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/banner3.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 964px){
    .hero h1 { font-size: 3em; } 
    .hero h2 { font-size: 2em; }  
    .hero h3 { font-size: 1.5em; }  
}
@media screen and (max-width: 496px){
    .hero h1 { font-size: 2em; } 
    .hero h2 { font-size: 1.5em; }  
    .hero h3 { font-size: 1em; }  
}